<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <h1>{{letters[0]}}{{letters[1]}}{{letters[2]}}{{letters[3]}}{{letters[4]}}{{letters[5]}}{{letters[6]}}{{letters[7]}}{{letters[8]}}{{letters[9]}}{{letters[10]}}{{letters[11]}}
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-2">
        <h1>{{letters[4]}}{{letters[5]}}{{letters[6]}}{{letters[7]}}{{letters[0]}}{{letters[1]}}{{letters[2]}}{{letters[3]}}{{letters[4]}}{{letters[5]}}{{letters[6]}}{{letters[7]}}
        </h1>
    </div>
</div>
<div class="container">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary" (click)="changeLetters('1')">1</button>
            <button type="button" class="btn btn-secondary" (click)="changeLetters('2')">2</button>
            <button type="button" class="btn btn-secondary" (click)="changeLetters('3')">3</button>
            <button type="button" class="btn btn-secondary" (click)="changeLetters('4')">4</button>
            <button type="button" class="btn btn-secondary" (click)="changeLetters('5')">5</button>
            <button type="button" class="btn btn-secondary" (click)="changeLetters('6')">6</button>
            <button type="button" class="btn btn-secondary" (click)="changeLetters('7')">7</button>
            <button type="button" class="btn btn-secondary" (click)="changeLetters('8')">8</button>
            <button type="button" class="btn btn-secondary" (click)="changeLetters('9')">9</button>
            <button type="button" class="btn btn-secondary" (click)="changeLetters('10')">10</button>
            <button type="button" class="btn btn-secondary" (click)="changeLetters('11')">11</button>
            <button type="button" class="btn btn-secondary" (click)="changeLetters('12')">12</button>
        </div>
    </div>
</div>
<hr>
<app-main-page-previews></app-main-page-previews>